* {
	margin: 0;
	padding: 0;
}
body {
	background: #121212;
}
#container {
	width: 700px;
	margin: 10px auto;
	padding: 15px 15px 25px 15px;
	background: #FFFFFF;
	border: #333333 1px solid;
	border-radius: 10px;
	text-align: center;
	color: #000000;
}
#container h1 {
	margin: 5px 0 10px 0;
	font-size: 30px;
}
#container h2 {
	margin: 5px 0 20px 0;
	font-size: 20px;
}
#container p {
	margin: 5px 0;
}
#container form {
	margin: 0 0 15px 0;
}
#container form #type {
	width: 250px;
	background: #FFFFFF;
	border: #555555 1px solid;
	padding: 5px;
	font-size: 20px;
	border-radius: 5px;
}
#container form #submit {
	width: 100px;
	background: #FFFFFF;
	border: #555555 1px solid;
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
}
span.status {
	width: 100%;
	display: block;
}
span.error {
	color: #FF0000;
}
#container form.error #did, #container form.error #submit {
	background: #FFE1E1;
	border: #FF0000 1px solid;
}